<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Películas</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'lista_peliculas' %}">Películas</a></li>
            <li><a href="{% url 'crear_pelicula' %}">Registrar nueva película</a></li>
            <li><a href="{% url 'signout' %}">Cerrar Sesión</a></li>
            {% else %}
            <li><a href="{% url 'signin' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'signup' %}">Registro</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>